APP_ENV=development
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000
TABLEAU_SERVER_NAME =
TABLEAU_SERVER_USERNAME = 
TABLEAU_SERVER_PASSWORD =
SQL_SERVER =
SQL_DATABASE =
SQL_UID =

