APP_ENV=development
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000
OPENAI_API_KEY=
QUERY_AGENT_MODE=mock
OPENAI_MODEL=gpt-4.1-mini
DEBUG_QUERY_RESULTS=false
TABLEAU_SERVER_NAME =
TABLEAU_SERVER_USERNAME = 
TABLEAU_SERVER_PASSWORD =
SQL_SERVER =
SQL_DATABASE =
SQL_UID =
